@font-face {
    font-family: 'CantarellRegular';
    src: url('../fonts/cantarell-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CantarellBold';
    src: url('../fonts/cantarell-bold.otf') format('opentype');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'CantarellExtraBold';
    src: url('../fonts/cantarell-extrabold.otf') format('opentype');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'CantarellThin';
    src: url('../fonts/cantarell-light.otf') format('opentype');
    font-weight: normal;
    font-style: light;
}

:root {
    --dark-1: #1f1f1f;
    --dark-2: #2b2b2b;
    --dark-3: #373737;
    --dark-4: #3e3e3e;
    --dark-5: #414141;
    --dark-6: #4e4e4e;
    --dark-7: #757575;
    --dark-8: #c5c8c6;
    --white: #e0e0e0;
    --red: #cc6666;
    --blue: #81a2be;
    --green: #b5bd68;
    --yellow: #f0c674;

    --x-12: 12px;
    --x-14: 14px;
    --x-16: 16px;
    --x-18: 18px;
    --x-20: 20px;
    --x-24: 24px;
    --x-28: 28px;
    --x-32: 32px;
    --x-36: 36px;
    --x-42: 42px;
    --x-48: 48px;
    --x-54: 54px;
    --x-60: 60px;
    --x-68: 68px;
    --x-76: 76px;
    --x-84: 84px;
    --x-92: 92px;
}

body {
    /*Ensure that the content is centered in the viewport*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'CantarellRegular', sans-serif;
    background: var(--dark-1);
    margin: auto;
    /*font-size: ;*/
    /*line-height: 1.2;*/
}

/* For gradient backgrounds
html {
    background: var(--dark-1);
    width: 100%;
    height: 100%;
}*/

.button-base {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: baseline;
    position: relative;
}

.button-shape-pill {
    font-family: 'CantarellBold';
    text-decoration: none;
    font-size: var(--x-16);
    text-align: center;
    padding: 16px;
    border-radius: 7px;
}

.button-shape-pill-small {

}

.button-shape-circle {
}

.button-blue {
    color: var(--white);
    background-color: var(--blue);
}

.button-red {
    color: var(--white);
    background-color: var(--red);
}

.button-green {
    color: var(--dark-2);
    background-color: var(--green);
}

.button-yellow {
    color: var(--dark-2);
    background-color: var(--yellow);
}

.button-black {
    color: var(--white);
    background-color: var(--dark-3);
}

/*****************************************/
.banner {
    font-family: 'CantarellBold';
    color: var(--white);
    font-size: var(--x-54);
    margin-top: var(--x-16);
    margin-bottom: var(--x-32);
}

.banner-center {
    text-align: center;
}

.banner-left {
    text-align: left;
    /*width: fit-content;*/
}

.banner-right {
    text-align: right;
}

.logo {
    display: block;
    margin: auto;
    width: 15%;
    height: 15%;
}

/* NEW LOGIN FORM 

GRID
https://css-tricks.com/snippets/css/complete-guide-grid/

-> Align items in row axis (inline)
justify-items - > overall grid
justify-self -> individual grid items
start | end | center | stretch

-> Align items in column axis (block)
(applies to all grid items inside the container)
align-items: start | end | center | stretch; 
align-self -> individual grid items

-> Single declaration (align-items and justify-items properties)
place-items: <align-items> / <justify-items>
The first value sets align-items, the second value justify-items. 
If the second value is omitted, the first value is assigned to both properties.


Spacing out the grid inside the container

-> Set the alignment of the grid within the grid container row axis (inline)
justify-content: start | end | center | stretch | space-around | space-between | space-evenly;

-> Set the alignment of the grid within the grid container column axis (block)
align-content: start | end | center | stretch | space-around | space-between | space-evenly;

-> Single declaration
place-content: <align-content> / <justify-content>
place-self -> individual grid items
GRID ITEMS*/

.login-main {
    display: grid;
    grid-template-columns: 100px 150px 150px;
    grid-template-rows: 50px 50px 50px;
    column-gap: 8px;
    row-gap: 16px;
    /*gap: 32px;*/
    background: var(--dark-2);
    border-radius: 7px;
    /*justify-items: center;*/
    align-items: center;
    padding: var(--x-32);
}

.email-label {
    grid-area: 1 / 1 / 1 / 1;
    padding: 16px 0 0 0;
    text-align: right;
    align-self: end;
}

.pwd-label {
    grid-area: 2 / 1 / 2 / 1;
    padding: 16px 0 0 0;
    text-align: right;
    align-self: end;
}

.email-input {
    grid-area: 1 / 2 / 1 / span 2;
    padding: 16px 16px 0 16px;
    align-self: end;
}

.pwd-input {
    grid-column: 2 / span 2;
    grid-row: 2 / 2;
    padding: 16px 16px 0 16px;
    align-self: end;
}

.login-label {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    padding: 16px;
}

.forgot-pwd-label {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
    align-self: center;
    padding: 16px;
}

label {
    font-family: 'CantarellBold';
    font-size: var(--x-16);
    color: var(--white);
}

input {
    font-family: 'CantarellRegular';
    font-size: var(--x-14);
    border: none;
    border-bottom: 1px solid var(--dark-7);
    /*border-top-left-radius: 7px;
    border-top-right-radius: 7px;*/
    width: 100%;
    background-color: var(--dark-2);
    box-sizing: border-box;
    color: var(--white);
    padding: 8px 0 4px 8px;
    caret-shape: underscore;
}

input:focus {
    outline: none;
    border-bottom: 1px solid var(--white);
    background-color: var(--dark-4);
    transition: 0.5s;
    caret-color: var(--blue);
}

.login-button {
    font-family: 'CantarellBold';
    font-size: var(--x-16);
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 7px;
    text-decoration: none;
    padding: 8px 32px 8px 32px;
    cursor: pointer;
}

.login-button:hover{
    background-color: var(--dark-7);
    transition: 0.5s;
}

.pwd-link {
    font-size: var(--x-12);
    background-color: var(--dark-2);
    color: var(--white);
}

.pwd-link:hover {
    color: var(--blue);
    transition: 0.5s;
}

.back-button {
    position: fixed;
    top: 0px;
    left: 0px;
    right:;
    font-family: 'CantarellBold';
    font-size: var(--x-16);
    background-color: var(--dark-4);
    color: var(--white);
    border: none;
    border-radius: 7px;
    text-decoration: none;
    padding: 8px 32px 8px 32px;
    cursor: pointer;
}

.back-button {
    position: fixed;
    top: 16px;
    left: 16px;
    font-family: 'CantarellBold';
    font-size: var(--x-16);
    background-color: var(--dark-4);
    color: var(--white);
    border: none;
    border-radius: 7px;
    text-decoration: none;
    padding: 8px 32px 8px 32px;
    cursor: pointer;
}

.back-button:hover {
    background-color: var(--dark-7);
    transition: 0.5s;
}

.footer {
    position: fixed;
    text-align: left;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: var(--dark-4);
    color: var(--white);
    font-size: var(--x-12);
    font-family: 'CantarellBold';
    padding: 8px 0 8px 8px;
    margin: 8px 0 0 0;
}

.mail-link {
    font-size: var(--x-12);
    background-color: var(--dark-4);
    color: var(--blue);
}

.index-login {
    display: grid;
    column-gap: 8px;
    row-gap: 16px;
    /*gap: 32px;*/
    background: var(--dark-2);
    border-radius: 7px;
    /*justify-items: center;*/
    align-items: center;
    padding: var(--x-32);
}