@font-face {
    font-family: "CantarellRegular";
    src: url('../fonts/cantarell-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CantarellBold";
    src: url('../fonts/cantarell-bold.otf') format('opentype');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: "CantarellExtraBold";
    src: url('../fonts/cantarell-extrabold.otf') format('opentype');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: "CantarellThin";
    src: url('../fonts/cantarell-light.otf') format('opentype');
    font-weight: normal;
    font-style: light;
}

body {
    /*Ensure that the content is centered in the viewport*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    background: #1f1f1f;
    width: 100%;
    height: 100%;
}

.login-bg {
    position: relative;
    z-index: 1;
    background: #2b2b2b;
    /*border: 1px solid #4e4e4e;*/
    width: auto;
    margin: auto;
    padding: 2rem;
    border-radius: .75rem;
}

.form {
    position: relative;
    z-index: 1;
    background: #2b2b2b;
    /*border: 1px solid #4e4e4e;*/
    max-width: auto;
    margin: auto;
    padding: 2rem;
    text-align: center;
    border-radius: .75rem;
}