@font-face {
    font-family: "PublicSansRegular";
    src: url('../fonts/publicsans-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PublicSansBold";
    src: url('../fonts/publicsans-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: "PublicSansItalic";
    src: url('../fonts/publicsans-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: "PublicSansLight";
    src: url('../fonts/publicsans-light.woff2') format('woff2');
    font-weight: normal;
    font-style: light;
}

@font-face {
    font-family: "CantarellRegular";
    src: url('../fonts/cantarell-regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CantarellBold";
    src: url('../fonts/cantarell-bold.otf') format('otf');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: "CantarellExtraBold";
    src: url('../fonts/cantarell-extrabold.otf') format('otf');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: "CantarellThin";
    src: url('../fonts/cantarell-light.otf') format('otf');
    font-weight: normal;
    font-style: light;
}

body {
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    z-index: 7;
    position: fixed;
    text-align: left;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #2b2b2b;
    color: #e0e0e0;
    /*border-top: 1px solid #4e4e4e;*/
}

.copyright {
    font-family: 'PublicSansLight', Tahoma, Calibri, sans-serif;
    color: #f8f8f8;
    font-size: 0.75rem;
    padding: 0.10rem;
    margin: 0.30rem;
}

.banner {
    font-family: 'PublicSansBold', Tahoma, Calibri, sans-serif;
    font-size: 3.5rem;
    text-align: center;
    margin: 2rem;
    color: #e0e0e0;
}
.link {
    text-decoration: none;
    text-align: center;
    z-index: 1;
    display: block;
    width: 11rem;
    height: 3rem;
    background-color: #3e3e3e;
    border: 1px solid #4e4e4e;
    border-radius: .75rem;
    font-family: 'PublicSansLight', Tahoma, Calibri, sans-serif;
    font-size: 1rem;
    color: #e0e0e0;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    flex: 0 0 auto;
    margin: 0.5rem;
}

.button {
    z-index: 1;
    display: block;
    width: 11rem;
    height: 3rem;
    background-color: #3e3e3e;
    border: 1px solid #4e4e4e;
    border-radius: .75rem;
    font-family: 'PublicSansLight', Tahoma, Calibri, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    /*padding: .50rem 1.75rem;*/
    color: #e0e0e0;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    flex: 0 0 auto;
    margin: 0.5rem;
}

.button:hover {
    border: 2px solid #979797;
    color: #e0e0e0;
    transition: 0.7s;
}

.button-container {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.fpassword {
    font-family: 'PublicSansLight', Tahoma, Calibri, sans-serif;
    text-align: center;
    font-size: 0.75rem;
    color: #81a2be;
    padding: 2rem;
}

.logo {
    text-align: center;
    margin: auto;
    width: 20vh;
    height: auto;
    padding: 1.3rem;
}

.center-h {
    display: flex;
    justify-content: center;
}

.center-v {
   display: flex;
   align-items: center;
}

/*.avatar {
    text-align: center;
    border-radius: 50%;
    width: 25%;
    height: auto;
    padding: 1.5rem;
}*/

.form {
    position: relative;
    z-index: 1;
    background: #2b2b2b;
    border: 1px solid #4e4e4e;
    max-width: 200px;
    margin: auto;
    padding: 2rem;
    text-align: center;
    border-radius: .75rem;
}

.gnome-blue {
    font-family: 'CantarellBold';
    display: inline-block;
    box-sizing: border-box;
    vertical-align: baseline;
    position: relative;
    padding: 1rem;
    width: 11rem;
    height: 3rem;
    color: #f1f1f1;
    background-color: #81A2BE;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    line-height: 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.5rem;
}

@media screen and (max-width: 720px) {
    .banner {
        font-size: 7vh;
    }

    .form {
        width: 30vh;
        height: auto;
    }

    .button {
        font-size: 3vh;
        width: 25vh;
        height: 7vh; 
    }
}