@font-face {
    font-family: 'CantarellRegular';
    src: url('../fonts/cantarell-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CantarellBold';
    src: url('../fonts/cantarell-bold.otf') format('opentype');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'CantarellExtraBold';
    src: url('../fonts/cantarell-extrabold.otf') format('opentype');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'CantarellThin';
    src: url('../fonts/cantarell-light.otf') format('opentype');
    font-weight: normal;
    font-style: light;
}

:root {
    /* PALETTE */
    --dark-1: #1f1f1f;
    --dark-2: #2b2b2b;
    --dark-3: #373737;
    --dark-4: #3e3e3e;
    --dark-5: #414141;
    --dark-6: #4e4e4e;
    --dark-7: #757575;
    --dark-8: #c5c8c6;
    --white: #e0e0e0;
    --red: #cc6666;
    --blue: #81a2be;
    --green: #b5bd68;
    --yellow: #f0c674;
    /* FONT SIZE */
    --x-12: 12px;
    --x-14: 14px;
    --x-16: 16px;
    --x-18: 18px;
    --x-20: 20px;
    --x-24: 24px;
    --x-28: 28px;
    --x-32: 32px;
    --x-36: 36px;
    --x-42: 42px;
    --x-48: 48px;
    --x-54: 54px;
    --x-60: 60px;
    --x-68: 68px;
    --x-76: 76px;
    --x-84: 84px;
    --x-92: 92px;
    /* GRID POSITION */
    --l1-c1: 1 / 1 / 1 / 1;
    --l1-c2: 2 / 1 / 2 / 1;
    --l2-c2: 2 / 2 / 2 / 2;
    --l3-c1: 3 / 1 / 3 / 1;
    --l3-c2: 3 / 2 / 3 / 2;
    --l3-c3: 3 / 3 / 3 / 3;
    --l4-c1: 4 / 1 / 4 / 1;
    --l5-c2: 5 / 2 / 5 / 2;
    --l6-c2: 6 / 2 / 6 / 2;
    --l6-c3: 6 / 3 / 6 / 3;
    --l1-c2-s2: 1 / 2 / 1 / span 2;
    --l2-c2-s2: 2 / 2 / 2 / span 2;
    --l3-c2-s2: 3 / 2 / 3 / span 2;
    --l4-c2-s2: 4 / 2 / 4 / span 2;
    --l5-c2-s2: 5 / 2 / 5 / span 2;
}

/*****************/
/* MAIN ELEMENTS */
/*****************/

body {
    align-items: center;
    background: var(--dark-1);
    display: flex;
    font-family: 'CantarellRegular', sans-serif;
    height: 100vh;
    justify-content: center;
    margin: auto;
}

label {
    color: var(--white);
    font-family: 'CantarellBold';
    font-size: var(--x-16);
}

input {
    background-color: var(--dark-2);
    border: none;
    border-bottom: 1px solid var(--dark-7);
    box-sizing: border-box;
    color: var(--white);
    font-family: 'CantarellRegular';
    font-size: var(--x-14);
    padding: 8px 0 4px 8px;
    width: 100%;
    /*border-top-left-radius: 7px;
    border-top-right-radius: 7px;*/
}

input:focus {
    background-color: var(--dark-3);
    border-bottom: 1px solid var(--white);
    caret-color: var(--blue);
    outline: none;
    transition: 0.5s;
}

input[type='checkbox']{
    top: 0;
    left: 0;
    margin: 0;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

/*********/
/* GRIDS */
/*********/

.index-login {
    display: grid;
    column-gap: 8px;
    row-gap: 16px;
    /*gap: 32px;*/
    background: var(--dark-2);
    border-radius: 7px;
    /*justify-items: center;*/
    align-items: center;
    padding: var(--x-32);
}

.login-main {
    display: grid;
    grid-template-columns: 100px 150px 150px;
    grid-template-rows: 50px 50px 50px;
    column-gap: 8px;
    row-gap: 16px;
    /*gap: 32px;*/
    background: var(--dark-2);
    border-radius: 7px;
    /*justify-items: center;*/
    align-items: center;
    padding: var(--x-32);
}

.forgot-main-form {
    display: grid;
    grid-template-columns: 100px 150px 150px;
    grid-template-rows: 50px 50px;
    column-gap: 8px;
    row-gap: 16px;
    /*gap: 32px;*/
    background: var(--dark-2);
    border-radius: 7px;
    /*justify-items: center;*/
    align-items: center;
    padding: var(--x-32);
}

.signup-main {
    display: grid;
    grid-template-columns: 100px 150px 150px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    column-gap: 8px;
    row-gap: 16px;
    /*gap: 32px;*/
    background: var(--dark-2);
    border-radius: 7px;
    /*justify-items: center;*/
    align-items: center;
    padding: var(--x-32);
}

/**********/
/* LABELS */
/**********/

.email-label,.forgot-email-label,.signup-name-label {
    grid-area: var(--l1-c1);
    padding: 16px 0 0 0;
    text-align: right;
    align-self: end;
}

.pwd-label,.signup-email-label {
    grid-area: var(--l1-c2);
    padding: 16px 0 0 0;
    text-align: right;
    align-self: end;
}

.login-label {
    grid-area: var(--l3-c2);
    padding: 16px;
}

.forgot-pwd-label {
    grid-area: var(--l3-c3);
    align-self: center;
    padding: 16px;
}

.forgot-button-label {
    grid-area: var(--l2-c2);
    padding: 16px;
    width: max-content;
}

.signup-password-label {
    grid-area: var(--l3-c1);
    padding: 16px 0 0 0;
    text-align: right;
    align-self: end;
}

.signup-repassword-label {
    grid-area: var(--l4-c1);
    padding: 16px 0 0 0;
    text-align: right;
    align-self: end;
}

.signup-button-label {
    grid-area: var(--l6-c2);
    padding: 16px;
}

.signup-learmore-label {
    grid-area: var(--l6-c3);
    align-self: center;
    padding: 16px;
}

.signup-agree-label {
    grid-area: var(--l5-c2-s2);
    align-self: center;
    padding: 16px;
}

/**********/
/* INPUTS */
/**********/

.email-input,.forgot-email-input,.signup-name-input {
    grid-area: var(--l1-c2-s2);
    padding: 16px 16px 0 16px;
    align-self: end;
}

.pwd-input,.signup-email-input {
    grid-area: var(--l2-c2-s2);
    padding: 16px 16px 0 16px;
    align-self: end;
}

.signup-pwd-input {
    grid-area: var(--l3-c2-s2);
    padding: 16px 16px 0 16px;
    align-self: end;
}

.signup-pwd-retype-input {
    grid-area: var(--l4-c2-s2);
    padding: 16px 16px 0 16px;
    align-self: end;
}

.signup-agree-input {
    grid-area: var(--l5-c2);
    align-self: center;
    padding: 16px;
}


/***********/
/* BUTTONS */
/***********/

.button-base {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: baseline;
    position: relative;
}

.button-shape-pill {
    font-family: 'CantarellBold';
    text-decoration: none;
    font-size: var(--x-16);
    text-align: center;
    padding: 16px;
    border-radius: 7px;
}

.button-blue {
    color: var(--white);
    background-color: var(--blue);
}

.button-red {
    color: var(--white);
    background-color: var(--red);
}

.button-green {
    color: var(--dark-2);
    background-color: var(--green);
}

.button-yellow {
    color: var(--dark-2);
    background-color: var(--yellow);
}

.button-black {
    color: var(--white);
    background-color: var(--dark-7);
}

.back-button {
    position: fixed;
    top: 16px;
    left: 16px;
    font-family: 'CantarellBold';
    font-size: var(--x-16);
    background-color: var(--dark-4);
    color: var(--white);
    border: none;
    border-radius: 7px;
    text-decoration: none;
    padding: 8px 32px 8px 32px;
    cursor: pointer;
}

.login-button,.signup-button,.forgot-pwd-button {
    font-family: 'CantarellBold';
    font-size: var(--x-16);
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 7px;
    text-decoration: none;
    padding: 8px 32px 8px 32px;
    cursor: pointer;
}

.back-button:hover,.login-button:hover,.signup-button:hover,.forgot-pwd-button:hover {
    background-color: var(--dark-7);
    transition: 0.5s;
}

.signup-links:hover,.forgot-pwd-link:hover,.pwd-link:hover {
    color: var(--blue);
    transition: 0.5s;
}

/*********/
/* LINKS */
/*********/

.signup-links,.signup-agree-link,.pwd-link {
    font-size: var(--x-12);
    background-color: var(--dark-2);
    color: var(--white);
}

.forgot-pwd-link {
    font-size: var(--x-12);
    color: var(--white);
}

.mail-link {
    font-size: var(--x-12);
    background-color: var(--dark-4);
    color: var(--blue);
}

.forgot-pwd {
    padding: 32px;
    text-align: center;
}

/********/
/* MISC */
/********/

.logo-img {
    display: block;
    margin: auto;
    width: 192px;
    height: auto;
    padding: 16px;
}

.footer {
    position: fixed;
    text-align: left;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: var(--dark-4);
    color: var(--white);
    font-size: var(--x-12);
    font-family: 'CantarellBold';
    padding: 8px 0 8px 8px;
    margin: 8px 0 0 0;
}

.banner {
    font-family: 'CantarellBold';
    color: var(--white);
    font-size: var(--x-54);
    margin-top: var(--x-16);
    margin-bottom: var(--x-32);
}

.banner-center {
    text-align: center;
}

.banner-left {
    text-align: left;
    /*width: fit-content;*/
}

.banner-right {
    text-align: right;
}